<div class="max-w-3xl mx-auto my-5 bg-white dark:bg-slate-800 rounded-xl shadow-md overflow-hidden">
  <img class="h-48 w-full object-cover"
       [src]="model.headerImage" [alt]="getAltImageText()">
  <div class="p-8">
    <div class="text-2xl leading-tight font-medium text-black dark:text-white">{{ model.title }}</div>
    <div class="mt-2 text-gray-500 dark:text-gray-200 text-xl">About</div>
    <p class="text-gray-700 dark:text-gray-200">{{ model.about }}</p>
    <div class="mt-1 text-gray-500 dark:text-gray-200 text-xl">Objectives</div>
    <p class="text-gray-700 dark:text-gray-200">{{ model.objectives }}</p>
    <div class="mt-1 text-gray-500 dark:text-gray-200 text-xl">Characteristics</div>
    <div class="mt-1 text-gray-700 dark:text-gray-200">
      <ul class="list-disc">
        <li class="list-item" *ngFor="let item of model.characteristics">{{ item }}</li>
      </ul>
    </div>
  <span class="text-sm text-gray-700 dark:text-gray-400">Image source: {{ model.imageSource }}</span>
  </div>
</div>
