<div class="max-w-3xl mx-auto my-5 bg-white dark:bg-slate-800 rounded-xl shadow-md overflow-hidden">
  <div class="p-8">
    <h1 class="text-center text-3xl font-bold text-gray-700 dark:text-gray-50">About Me</h1>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">Who am I?</h2>
    <div class="text-md text-gray-700 dark:text-gray-50">
      <p>How does this works?</p>
    </div>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">What are my hobbies?</h2>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">What do I like?</h2>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">Some of my projects</h2>
  </div>
</div>
