<!--suppress CssReplaceWithShorthandSafely -->
<div class="max-w-3xl mx-auto my-5 bg-white dark:bg-slate-800 rounded-xl shadow-md overflow-hidden">
  <div class="p-8">
    <h1 class="text-center text-3xl font-bold text-gray-700 dark:text-gray-50">About Me</h1>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">Who am I?</h2>
    <div class="text-md text-gray-700 dark:text-gray-50">
      <p>Hi! I'm Edgar</p>
      I'm a Computer Engineering student at the Faculty of Engineering (Autonomous University Of Mexico).
      Currently I'm in the ninth semester of the major.<br>
      I'm interested in desktop/mobile apps, web, and computer graphics development.<br>
    </div>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">What are my hobbies?</h2>
    <div class="text-md text-gray-700 dark:text-gray-50">
      I don't have a lot of hobbies, because I'm a full-time student, but there are some of those:
      <ul class="list-disc">
        <li class="list-disc">Collect and solve Rubik's cubes</li>
        <li class="list-disc">Solve programming problems</li>
        <li class="list-disc">Read manga and light novels</li>
        <li class="list-disc">Listen to music (I do almost everything listening to music)</li>
      </ul>
    </div>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">What do I like?</h2>
    <h2 class="text-xl font-bold text-gray-700 dark:text-gray-50">Some of my projects</h2>
    <div class="text-md text-gray-700 dark:text-gray-50">
      I enjoy doing programming projects, for me and for the major, so there are some of my best
    </div>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
        <a href="https://github.com/Azrielx86/ProyectoFinal_CGeIHC" target="_blank">
          <div class="relative h-56 bg-cover bg-center rounded-lg shadow-2xl overflow-hidden"
               style="background: url('/assets/images/pinball.png'); background-size: cover; background-position: center;">
            <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4">
              <p class="text-white font-medium">CGeIHC Project: Pinball Machine</p>
              <span class="text-white">
              <i class="px-1 devicon-cplusplus-plain"></i>
              <i class="px-1 devicon-opengl-plain"></i>
              <i class="px-1 devicon-blender-original"></i>
            </span>
            </div>
          </div>
        </a>
        <a href="https://github.com/Azrielx86/ncurses-snake" target="_blank">
          <div class="relative h-56 bg-cover bg-center rounded-lg shadow-2xl overflow-hidden"
               style="background: url('/assets/images/snake.png'); background-size: cover; background-position: center;">
            <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4">
              <p class="text-white font-medium">Ncurses C Snake Game</p>
              <span class="text-white">
              <i class="px-1 devicon-c-plain"></i>
            </span>
            </div>
          </div>
        </a>
        <a href="https://github.com/Azrielx86/ASCII-PLAYER" target="_blank">
          <div class="relative h-56 bg-cover bg-center rounded-lg shadow-2xl overflow-hidden"
               style="background: url('/assets/images/asciiplayer.png'); background-size: cover; background-position: center;">
            <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4">
              <p class="text-white font-medium">ASCII Player</p>
              <span class="text-white">
              <i class="px-1 devicon-python-plain"></i>
              <i class="px-1 devicon-opencv-plain"></i>
            </span>
            </div>
          </div>
        </a>
        <a href="https://github.com/Azrielx86/anime-chan" target="_blank">
          <div class="relative h-56 bg-cover bg-center rounded-lg shadow-2xl overflow-hidden"
               style="background: url('/assets/images/animeapp.png'); background-size: cover; background-position: center;">
            <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-4">
              <p class="text-white font-medium">Ionic-Angular Anime App</p>
              <span class="text-white">
              <i class="px-1 devicon-typescript-plain"></i>
              <i class="px-1 devicon-angularjs-plain"></i>
              <i class="px-1 devicon-ionic-original"></i>
              <i class="px-1 devicon-android-plain"></i>
            </span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="text-md text-gray-700 dark:text-gray-50 mt-4">
      I've made some others, but I cannot share those (because are for third-person projects or are personal utilities),
      but I'm working on others that I want to share later!.<br>
      Currently I'm working on a Computers Graphics Application with OpenGL, like a tiny graphics engine.
      Maybe later I'll do some similar with Vulkan (I'm really interested on it!).<br>
      Also on this semester I'm learning some interesting topics, like Distributed Systems and Microcontrollers, maybe
      later I'll do some project related to this! :)<br>
    </div>
  </div>
</div>
